
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon.png">
    <title>KhreatiV - Web development</title>
    <meta name="description" content="Web development and IT solutions for Hotels and Restaurants in Cambodia. Your n°1 stop for an effective solution">
    <meta name="keywords" content="hospitality, technology, web development, hotel, restaurant, business generation, training, revenue management, SEO, website development">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="KhreatiV.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="canonical" href="https://successconsultingasia.com/index.php">-->
    <link rel="stylesheet" href="../static/css/kh.css">
</head>

<body>
    <section class="home">
        <div class="parallax"></div>
        <div class="parallax-small"></div>
        <div class="parallax-medium"></div>
        <div class="container-logo" id="mylogo-cont">
            <h1 class="mylogo" id="h_mylogo">Khreati<span class="v">V</span></h1>
        </div>
        <div class="cont-img-l"></div>
        <div class="cont-img-m"></div>
        <div class="cont-img-s"></div>
        <div class="container-intro">
            <h2>Web Development</h2>
            <h3>for Hotels and Restaurants</h3>
            <h3>Siem Reap - Cambodia</h3>
        </div>
    </section>
    <section class="portfolio">
        <h2>Case Study</h2>
    
        <div class="portfolio-detail">
            <a href="https://successconsultingasia.com"><h3>Success Consulting Services</h3></a>
            <div class="port-box">
                <div class="port-left">
                    <h4>Assignments</h4>
                    <p>Design a website for a Consulting company which core business is hotels and restaurants, without having it looking like a hotel website.</p>
                    <p>It had to include all functionnalities of a standard website and have a good but professional looking presentation, without being too flashy</p>
                    <p>I wanted also to do it all by myself, no website builder involved, to get a better control in case of problem</p>
                    <h4>Difficulties</h4>
                    <p>First of all, it was my first website, development was accompanied by a learning phase</p>
                    <p>First consideration was to make it a one page or several pages, and if several pages, with which program was I going to do it ?</p>
                    <p>I had few tutorials on Django done, but I wasn't enough familiar with the url patterns, at the beginning I didn't know much of PHP and didn't like JS too much, I did choose then to do a one page</p>
                    <p>Another problem was to find some elements that wouldn't show anywhere else</p>
                    <h4>Solutions</h4>
                    <p>I've find a way to do my own numbering (designed with Inkscape), and, by luck, a hint on how to make partial borders, simple and elegant was all I wanted</p>
                    <p>This fact that it was my own company website, was not really an advantage (I kept complicating things one after another), but at least I had time to do it how I wanted it (COVID period)</p>
                    <p>Trying to find solutions on how to do a secured form, I discovered PHP and the wide array of possibilities that it opened to me.</p>
                    <p>I could then easily add more pages without having to redo the navigation bar or footer or image gallery for each page, I just had to include them in the code to have them showing up. 
                        It would have been possible in Django but again, I was finding it a bit complicated at that time</p>
                    <p>I also tried myself on Bootstrap for a while, but quickly droped it for Sass (not scss, sass), having some learned a bit of Python, indentation was something I found completely logical, and I had a better control that way</p>
                    <p>One thing was to find a nice color for the secondary pages background. Plain colors don't look too good on my opinion. Solution was to isolate a part of a photo found on unsplash and to use it as background. Some like it, some don't, I do.</p>
                    <h4>The form</h4>
                    <p>Quite a big part. I did start that form by gathering informations from diverse tutorials on JS and PHP, and finally selected PHP</p>
                    <p>I wanted it to be secure, method POST, escape of special characters, I also wanted that when someone was filling it up, a confirmation screen would appear with all the details, an email being send to me, and it had to be registered in a database, quite a challenge for a newcomer</p>
                    <p>Today it's done, tested and working</p>
                </div>
                <div class="port-right">
                    <div class="port-right-left">
                        <img src="../static/img/screenshot landing.svg" alt="">
                        <div></div>
                        <img src="../static/img/screenshot subpage.svg" alt="">
                        <div></div>
                        <img src="../static/img/screenshot form.svg" alt="">
                    </div>
                    <div class="port-right-right">
                        <div></div>
                        <img src="../static/img/screenshot landing detail.svg" alt="">
                        <div></div>
                        <img src="../static/img/screenshot footer.svg" alt="">
                        <div></div>
                        <img src="../static/img/screenshot thank you.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h2>Credit images</h2>
        <div class="footer-flex">
            <a href="https://unsplash.com/photos/oy4ZA__AlNM">Engyn Akyurt</a>
            <a href="https://www.anydatasolutions.com/wp-content/uploads/2019/07/jj-ying-7JX0-bfiuxQ-unsplash.jpg">Jj Ying</a>
        </div>
    </footer>
</body>

</html>
